body {
    font-family: 'Roboto', sans-serif;
}
h1 {
    font-weight: 400;
}
p {
    font-size: 22px;
}
.main{
    border: 3px solid black;
    max-width: 30%;
    padding: 1rem 2rem;
    margin-top: 4rem;
    margin-left: 8rem;
}
.main div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like-btn {
    background-color: #FFD966;
    padding: 8px 16px;
    border: 3px solid black;
    box-shadow: 3px 3px 0 black;
    font-size: 15px;
}
